# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.venv
.venv/

# macOS
.DS_Store

# Logs
*.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Test Coverage
coverage/
*.lcov

# Build files
dist/
build/
*.out
*.exe

# Temporary files
*.tmp
*.temp